@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.none {
  opacity: 0;
}

.block {
  opacity: 1;
  margin: 30px 0px;
}

header {
  background-color: #0e5d56;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 520px;
  padding: 50px 20px 50px 20px;
}
@media screen and (min-width: 992px) {
  header {
    flex-direction: row;
    height: 110px;
  }
  header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 55px;
}
@media screen and (min-width: 992px) {
  header ul {
    flex-direction: row;
    margin-top: 0;
  }
}
header ul li {
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in;
}
header ul li:hover {
  color: #131313;
}
@media screen and (min-width: 992px) {
  header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 2;
  }
}

.active {
  color: #131313 !important;
}

.showcase {
  height: 700px;
  background-image: url("../images/newhero.jpeg");
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}
@media screen and (min-width: 992px) {
  .showcase {
    height: 800px;
  }
}
.showcase .container {
  background-image: -webkit-linear-gradient(top, rgba(28, 51, 51, 0.749), rgba(0, 0, 0, 0.857));
  height: 100%;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .showcase .container {
    padding: 70px 60px;
  }
}
.showcase .textcontainer {
  animation-name: animeTop;
  transition: 0.3s ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.showcase .date-top p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.showcase .second-text h4 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .showcase .second-text h4 {
    font-size: 45px;
  }
}
.showcase .second-text p {
  margin: 30px 0px 24px 0px;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1.5px;
}
.showcase .third-text {
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
@media screen and (min-width: 992px) {
  .showcase .third-text {
    font-size: 40px;
  }
}
.showcase .fourth-text {
  font-size: 23px;
}
@media screen and (min-width: 992px) {
  .showcase .fourth-text {
    font-size: 35px;
  }
}
.showcase .last-text {
  font-size: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .showcase .last-text {
    margin-top: 40px;
    font-size: 35px;
  }
}

@keyframes animeTop {
  0% {
    transform: translateY(-100px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
.showcase-login {
  margin-top: 20px;
  padding: 16px 50px;
  background-color: #0e5d56;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.aboutLocation {
  background-color: #0e5d56;
  color: #fff;
  font-weight: 700;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 992px) {
  .aboutLocation {
    flex-direction: row;
    justify-content: space-around;
  }
}
.aboutLocation .block {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.aboutLocation .block .svgBlock {
  display: flex;
  align-items: center;
  font-size: 23px;
}
.aboutLocation .block .svgBlock img {
  width: 50px;
  margin-right: 18px;
  margin-bottom: 15px;
}

.organizers {
  color: #0e5d56;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.organizers .organizers-title {
  text-align: center;
  margin: 30px 0px;
}
.organizers .container {
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 992px) {
  .organizers .container {
    width: 1000px;
  }
}
@media screen and (min-width: 767px) {
  .organizers .container {
    grid-template-areas: "first second" "third third";
  }
  .organizers .container .oneFirst {
    grid-area: "first";
  }
  .organizers .container .twoSecond {
    grid-area: "second";
  }
  .organizers .container .threeTh {
    grid-area: "third";
  }
}
.organizers .organize-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: 800;
  text-align: center;
  width: 350px;
  letter-spacing: 1.5px;
  font-size: 13px;
}
.organizers .organize-block img {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.abtconferencia {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abtconferencia ul li::before {
  content: "•";
  font-size: 1em;
}
.abtconferencia .container {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .abtconferencia .container {
    width: 1000px;
  }
}
.abtconferencia .title {
  color: #0e5d56;
  margin-bottom: 30px;
}
.abtconferencia .firstText,
.abtconferencia .secondText {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}
.abtconferencia .languageConf {
  margin: 30px 0px;
}
.abtconferencia .secondTitle {
  font-size: 16px;
  color: #0e5d56;
  margin-bottom: 10px;
}
.abtconferencia .lastText {
  line-height: 25px;
  margin-bottom: 30px;
}
.abtconferencia .linkList li {
  font-size: 18px;
  color: #0e5d56;
  margin: 10px 0px;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .abtconferencia .firstText,
  .abtconferencia .secondText,
  .abtconferencia .languageConf {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .abtconferencia .secondTitle {
    font-size: 22px;
    color: #0e5d56;
    margin-bottom: 10px;
  }
  .abtconferencia .lastText {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .abtconferencia .linkList li {
    font-size: 22px;
    color: #0e5d56;
    margin: 10px 0px;
    font-weight: 600;
  }
}

.important-dates {
  color: #0e5d56;
}

.imprDates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.imprDates .container {
  padding: 25px;
}
@media screen and (min-width: 992px) {
  .imprDates .container {
    width: 1000px;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 560px;
}
@media screen and (min-width: 992px) {
  .timeline {
    height: 230px;
  }
}

.timeline-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.circle,
.circler {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0e5d56;
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 190px;
  background-color: #0e5d56;
}

.date {
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}
@media screen and (min-width: 992px) {
  .date {
    margin-left: 0;
  }
}
.date .dayYear {
  font-size: 20px;
  font-weight: 700;
  color: #0e5d56;
  margin-bottom: 10px;
}
.date .aboutDayYear {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1.3px;
}

@media screen and (min-width: 992px) {
  .imprDates {
    align-items: center;
  }
  .timeline {
    flex-direction: row;
    width: 1000px;
  }
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .circle::before {
    height: 3px;
    width: 250px;
    top: 50%;
    left: -240%;
  }
}
.title-chairmen {
  color: #0e5d56;
  text-align: center;
  margin: 15px 0px;
}

.chairmen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .chairmen .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.chairmen .container .chairmen-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 260px;
}
@media screen and (min-width: 767px) {
  .chairmen .container .chairmen-box {
    width: 450px;
  }
}
.chairmen .container .chairmen-box h5 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 25px 0px;
}
@media screen and (min-width: 767px) {
  .chairmen .container .chairmen-box h5 {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .chairmen .container .chairmen-box h5 {
    font-size: 24px;
  }
}
.chairmen .container .chairmen-box p {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.1px;
  text-align: center;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .chairmen .container .chairmen-box p {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .chairmen .container .chairmen-box p {
    font-size: 17px;
  }
}
.chairmen .container .chairmen-box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 767px) {
  .chairmen .container .chairmen-box img {
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 992px) {
  .chairmen .container .chairmen-box img {
    width: 300px;
    height: 300px;
  }
}

.scititle {
  color: #0e5d56;
  text-align: center;
  margin: 30px 0px;
}
@media screen and (min-width: 992px) {
  .scititle {
    margin: 50px 0px;
  }
}

@media screen and (min-width: 1100px) {
  .scicommite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
.scicommite .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 767px) {
  .scicommite .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .scicommite .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .scicommite .container {
    grid-template-columns: repeat(4, 1fr);
    width: 1400px;
  }
}
.scicommite .container .commite-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}
.scicommite .container .commite-box img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 767px) {
  .scicommite .container .commite-box img {
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 992px) {
  .scicommite .container .commite-box img {
    width: 270px;
    height: 270px;
  }
}
.scicommite .container .commite-box .about-commite {
  text-align: center;
}
.scicommite .container .commite-box .about-commite h5 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 25px 0px;
}
@media screen and (min-width: 767px) {
  .scicommite .container .commite-box .about-commite h5 {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .scicommite .container .commite-box .about-commite h5 {
    font-size: 24px;
  }
}
.scicommite .container .commite-box .about-commite p {
  width: 100%;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1.1px;
  text-align: center;
  margin: auto;
  margin-bottom: 16px;
}
@media screen and (min-width: 767px) {
  .scicommite .container .commite-box .about-commite p {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  .scicommite .container .commite-box .about-commite p {
    font-size: 17px;
  }
}
.scicommite .container .commite-box .about-commite span {
  color: #0e5d56;
}

.profs {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.profs .container {
  width: 280px;
}
@media screen and (min-width: 767px) {
  .profs .container {
    width: 320px;
  }
}
@media screen and (min-width: 992px) {
  .profs .container {
    width: 600px;
    font-size: 20px;
  }
}
.profs ul li {
  list-style: disc;
  margin: 10px 0px;
}

.organizingCommitte .title-organize {
  text-align: center;
  color: #0e5d56;
  margin: 35px 0px;
}
.organizingCommitte .container {
  width: 75%;
  margin: auto;
}
.organizingCommitte .confr-down {
  padding: 40px;
  text-align: center;
  color: #fff;
  background-color: #0e5d56;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.organizingCommitte .textShablon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 0px;
}
.organizingCommitte .textShablon p:first-of-type {
  font-weight: 800;
}
@media screen and (min-width: 992px) {
  .organizingCommitte .textShablon p:first-of-type {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .organizingCommitte .textShablon p:last-of-type {
    font-size: 18px;
  }
}

.timelineSection {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timelineSection h1 {
  font-size: 30px;
  color: #0e5d56;
  margin-bottom: 30px;
}
.timelineSection h3 {
  font-size: 25px;
  margin: 10px 0px 20px 0px;
}
.timelineSection .opacity0 {
  opacity: 0;
}
.timelineSection .whatDO .name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.timelineSection .whatDO .about {
  width: 200px;
  font-weight: 300;
  line-height: 23px;
}
@media screen and (min-width: 992px) {
  .timelineSection .whatDO .about {
    width: 700px;
  }
}
.timelineSection .container {
  margin-top: 50px;
}
.timelineSection .container .timeBox {
  display: flex;
  gap: 50px;
  margin-bottom: 120px;
}
.timelineSection .container .timeBox .time {
  font-weight: 600;
  font-size: 22px;
}
.timelineSection .container .timeBox .LEFT_TIME {
  display: none;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .LEFT_TIME {
    display: block;
  }
}
.timelineSection .container .timeBox .list {
  font-size: 18px;
  width: 270px;
  line-height: 30px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .list {
    font-size: 20px;
    width: 450px;
  }
}
.timelineSection .container .timeBox .whatDO {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.timelineSection .container .timeBox .whatDO .RIGHT_TIME {
  display: block;
}
.timelineSection .container .timeBox .whatDO .title {
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .whatDO .RIGHT_TIME {
    display: none;
  }
}
.timelineSection .container .timeBox .whatDO p {
  font-size: 17px;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .whatDO p {
    font-size: 22px;
  }
}
.timelineSection .container .timeBox .whatDO .someTxt {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.timelineSection .container .timeBox .whatDO .someTxt .AyDi {
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .whatDO .someTxt .AyDi {
    font-size: 22px;
  }
}
.timelineSection .container .timeBox .whatDO .someTxt .brecker {
  margin: 25px 0px;
}
.timelineSection .container .timeBox .whatDO .someTxt .titles {
  font-size: 18px;
  color: #0e5d56;
  font-weight: 700;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .whatDO .someTxt .titles {
    font-size: 22px;
  }
}
.timelineSection .container .timeBox .CirCle {
  width: 15px;
  height: 15px;
  border: 2px solid #0e5d56;
  border-radius: 50%;
  background-color: #0e5d56;
  position: relative;
}
.timelineSection .container .timeBox .CirCle img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translate(-45%, -10%);
  border: 2px solid #0e5d56;
}
@media screen and (min-width: 992px) {
  .timelineSection .container .timeBox .CirCle img {
    width: 90px;
    height: 90px;
  }
}
.timelineSection .container .timeBox .CirCle::after {
  content: "";
  width: 2px;
  height: 900px;
  background-color: #0e5d56;
  position: absolute;
  transform: translateX(-70%);
}
.timelineSection .lastOne .CirCle::after {
  height: 10px !important;
}

.conference {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conference h1 {
  color: #0e5d56;
}
.conference .container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  gap: 35px;
}
@media screen and (min-width: 992px) {
  .conference .container .second__side {
    margin-left: 70px;
  }
}
@media screen and (min-width: 767px) {
  .conference .container {
    grid-template-columns: 1fr 1fr;
  }
}
.conference .conf_box {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  height: auto;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .conference .conf_box {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 560px;
  }
}
.conference .conf_box h3 {
  margin: 20px 0px;
}
.conference .conf_box ul li {
  line-height: 25px;
}
.conference .conf_box img {
  width: 100px;
  height: auto;
}
.conference .conf_box button {
  padding: 14px 18px;
  border: 2px solid #0e5d56;
  color: #0e5d56;
  background-color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.video {
  width: 350px;
  height: 245px;
}
@media screen and (min-width: 992px) {
  .video {
    width: 450px;
    height: 320px;
  }
}
@media screen and (min-width: 1100px) {
  .video {
    width: 560px;
    height: 355px;
  }
}
.video h6 {
  font-size: 18px;
  margin: 20px 0px;
}

iframe {
  width: 100%;
  height: 80%;
}

.youtube__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.youtube__section .container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
@media screen and (min-width: 992px) {
  .youtube__section .container {
    width: 1400px;
  }
}

.carusel {
  padding: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 400px;
}
@media screen and (min-width: 767px) {
  .carusel {
    margin-top: 80px;
  }
}
@media screen and (min-width: 992px) {
  .carusel .imgContent {
    width: 60%;
    height: 450px;
  }
  .carusel .imgContent img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease;
  }
}
.carusel .imgContent img {
  width: 300px;
}
@media screen and (min-width: 767px) {
  .carusel .imgContent img {
    width: 100%;
  }
}
.carusel .prev,
.carusel .next {
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #757474;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .carusel .prev,
  .carusel .next {
    height: 80px;
    width: 80px;
  }
}/*# sourceMappingURL=main.css.map */